<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Liver Disease Predictor</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='diabetes-favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    </head>

    <body>

        <!-- Website Title -->
    	<div class="container">
            <h2 class='container-heading'><span class="heading_font">Liver Disease Predictor</span></h2>
            <div class='description'>
    			<p>A Machine Learning Web App, Built with Flask, Deployed using Heroku.</p>
    		</div>
    	</div>

        <!-- Text Area -->
    	<div class="ml-container">
    		<form action="{{ url_for('predict') }}" method="POST">
                <input class="form-input" type="text" name="Age" placeholder="Age of the patients eg. 45"><br>
                <input class="form-input" type="text" name="Gender" placeholder="Male=1:Female=0"><br>
                <input class="form-input" type="text" name="Total_Bilirubin" placeholder="Total Billirubin in mg/dL(0.4-75)"><br>
                <input class="form-input" type="text" name="Direct_Bilirubin" placeholder="Conjugated Billirubin in mg/dL(0.1-19.7)"><br>
                <input class="form-input" type="text" name="Alkaline_Phosphotase" placeholder="ALP in IU/L(63-2110)"><br>
                <input class="form-input" type="text" name="Alamine_Aminotransferase" placeholder="ALT in IU/L(10-2000)"><br>
                <input class="form-input" type="text" name="Aspartate_Aminotransferase" placeholder="AST in IU/L(10-4929)"><br>
                <input class="form-input" type="text" name="Total_Protiens" placeholder="Total Proteins g/dL(2.7-9.7)"><br>
                <input class="form-input" type="text" name="Albumin" placeholder="Albumin in g/dL(0.9-5.5)"><br>
                <input class="form-input" type="text" name="Albumin_and_Globulin_Ratio" placeholder="A/G ratio(0.3-2.8)"><br>
              




        		<input type="submit" class="my-cta-button" value="Predict">
        	</form>
    	</div>

        <!-- Footer -->
       <div class='footer'>
           <div class="contact">
               <a target="_blank" href="https://github.com"><i class="fab fa-github fa-lg contact-icon"></i></a>
               <a target="_blank" href="https://www.linkedin.com/in/utkarsh-tripathi-18a5ab197/"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
           </div>
           <p class='footer-description'>Made with ❤️ by UPOYU.</p>
       </div>

    </body>
</html>
